In [6]:
import numpy as np 
import pandas as pd 
import os
import nltk 
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.utils import shuffle
from sklearn.neural_network import MLPClassifier

from sklearn.utils import shuffle

In [15]:
#Load CSV File 
df = pd.read_csv('air.csv')

df.head()

,REVIEWID,HOTELNAME,content,POLARITY,SPAM
0,1,affinia,Affinia Chicago is one of the worst hotels I h...,-1,1
1,2,affinia,I recently stayed at the Affina Chicago hotel ...,-1,1
2,3,affinia,I stayed at the Affina Chicago for my annivers...,-1,1
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN

In [16]:
#Drop Null rows
df=df[pd.notnull(df['content'])]


#Make Lower Case 
df.content = df['content'].str.lower()

#Pull out numeric Values from review Text and Summary
df['content'] = df['content'].str.replace('\d+', '')

df.head()

,REVIEWID,HOTELNAME,content,POLARITY,SPAM
0,1,affinia,affinia chicago is one of the worst hotels i h...,-1,1
1,2,affinia,i recently stayed at the affina chicago hotel ...,-1,1
2,3,affinia,i stayed at the affina chicago for my annivers...,-1,1
5,6,affinia,my wife and i stayed at the affinia chicago la...,-1,1
6,7,affinia,"terrible experience, i will not stay here agai...",-1,1

In [17]:
#Remove Punctuation
#Token Generate 
def tokenize(text):
    tokenized = word_tokenize(text)
    no_punc = []
    for review in tokenized:
        line = "".join(char for char in review if char not in string.punctuation)
        no_punc.append(line)
    tokens = lemmatize(no_punc)
    return tokens

#Lemmatization
#Stemming
def lemmatize(tokens):
    lmtzr = WordNetLemmatizer()
    stm = PorterStemmer()
    lemma = [lmtzr.lemmatize(t) for t in tokens]
    return lemma

In [ ]:

#Tokenize ReviewText and Summary
df.content = df.content.apply(lambda x: tokenize(x))

#Remove Stop-words
stops = stopwords.words('english')
df.content=df.content.apply(lambda x: [item for item in x if item not in stops])


df.head(5)